/* font-family: 'Caveat', cursive;
font-family: 'Mandali', sans-serif;
font-family: 'Noto Sans Display', sans-serif;
font-family: 'Nunito', sans-serif; */
:root {
  --first-color: #f1eded;
  --second-color: #38a3a5;
  --defaul-font-family: "Nunito", sans-serif;
  --special-font-family: "Caveat", cursive;
}
body {
  font-family: var(--defaul-font-family);
}
h2 {
  font-size: 42px;
  font-weight: bold;
}
p {
  font-size: 20px;
  line-height: 30px;
}
pre {
  line-height: 0.5;
  opacity: 0.4;
  text-align: center;
  margin: 90px 0;
}
.hero {
  /* background-color: var(--first-color); */
  background: #d5d4d0;
  background: -moz-linear-gradient(
    to right,
    #d5d4d0 0%,
    #efeeec 50%,
    #d5d4d0 100%
  );
  background: -webkit-linear-gradient(
    to right,
    #d5d4d0 0%,
    #efeeec 50%,
    #d5d4d0 100%
  );
  background: linear-gradient(to right, #d5d4d0 0%, #efeeec 50%, #d5d4d0 100%);
  text-align: center;
  padding: 60px 0;
  border-radius: 15px;
}
.hero img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 18%;
}

.hero h1 {
  font-family: var(--special-font-family);
  font-size: 90px;
}
.hero h2 {
  font-size: 24px;
  font-weight: bold;
  opacity: 0.7;
}

.hero h3 {
  font-size: 24px;
  font-weight: bold;
  opacity: 0.7;
}
.btn-contactMe {
  border-radius: 5px;
  background: var(--second-color);
  /* 22577A */
  /* #889EAF; */
  color: var(--first-color);
  padding: 10px 25px;
  font-size: 12px;
}

/* .projectImage{
    width: 300px;
    border-radius: 10px;
    margin: 30px;
} */
.btn-readMore {
  border-radius: 5px;
  background: var(--first-color);
  /* 22577A */
  /* #889EAF; */
  color: var(--second-color);
  padding: 10px 25px;
  font-size: 12px;
  font-weight: bold;
  border: solid 1px var(--second-color);
}
.descriptionContent {
  padding: 30px 50px;
}
@media (max-width: 990px) {
  .hero h1 {
    font-size: 32px;
    line-height: 2;
  }
  .hero h2,
  h3 {
    font-size: 18px;
    font-weight: lighter;
  }
  .descriptionContent  {
    padding: 0;
    text-align: center;
    color: red;
  }
}
